.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 100px 100px 100px;
  background-image: url('../../../../assets/body.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.body-title {
  margin-top: 100px;
  margin-bottom: 40px !important;
  font-size: 5em !important;
  font-weight: bolder;
}

.body-description {
  font-size: 1.9em;
}

.register-button {
  width: 250px !important;
  height: 70px !important;
  margin: 40px 0 100px 0;
  font-size: 1.6em !important;
}
