.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  text-align: center;
}

.login-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  margin-left: auto;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 100px;
}

.menu-item {
  margin-left: 20px;
  font-size: 20px;
  text-align: center;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.login-button {
  margin-left: 20px;
  font-size: 16px;
}
